<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="/css/bootstrap-theme.min.css" type="text/css">
        <link rel="stylesheet" href="/css/styles.css" type="text/css">
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <form action="/add_course" method="post">
            <label for="course_name">Course Name</label>
            <input id="course_name" name="course_name">

            <label for="course_number">Course Number</label>
            <input id="course_number" name="course_number">

            <button type="submit" class="btn btn-danger">Add</button>
        </form>
        {% if courses is not empty %}
            {% for course in courses %}
                <ul>
                    <li><a href="/course/{{ course.getId }}">{{ course.getCourseName}}</a></li>
                    <li>{{ course.getCourseNumber }}</li>
                </ul>
            {% endfor %}
        {% endif %}

        <form action="/delete_all_courses" method="post">
        <button type="submit" class="btn btn-info">Delete All</button>
        </form>

        <a href="/">Home</a>
    </body>
</html>
