<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="/css/bootstrap-theme.min.css" type="text/css">
        <link rel="stylesheet" href="/css/styles.css" type="text/css">
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Registrar</h1>
        <h3><a href="/courses">Add or view a course</a></h3>
        <h3><a href="/students">Add or view a student</a></h3>
    </body>
</html>
